body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: #000dff;
}

.back-to-top {
    background-color: #59bfde; 
    color: white;
    padding: 12px 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
    text-decoration: none; 
}
.back-to-top img {
    margin-right: 8px; 
}
.back-to-top:hover {
    background-color: #2980b9; 
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {  
    border: 1px solid #000000;       
    padding: 8px;
    text-align: left; 
}
th {
    background-color: #cac4c4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

.image-cell img {
    width: 100px;
    height: auto; 
}




  
